
<div class="container">
    <mat-card >
        <mat-card-header>
            <mat-card-title>Sobre a Aplicação</mat-card-title>
            <mat-card-subtitle>MV-SISTEMAS</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>Esta aplicação foi desenvolvida utilizando Angular 11.
            </p>
            <p>O Objetivo da aplicação é demonstrar o conhecimento para preenchimento da vaga de desenvolvedor.</p>
        </mat-card-content>
        
    </mat-card>
</div>
