<div class="container">

<h4>Estabelecimento \ {{shouldGetEstabelecimento ? "Editando" : "Cadastrando"}}</h4>

<mat-divider></mat-divider>

    <mat-form-field appearance="standard">
        <mat-label>Nome</mat-label>
        <input [(ngModel)]="estabelecimento.nome"  matInput placeholder="Nome do Estabelecimento">                
    </mat-form-field>
    
    <mat-form-field appearance="standard">
        <mat-label>Endereço</mat-label>
        <input [(ngModel)]="estabelecimento.endereco" matInput placeholder="Endereço do Estabelecimento">
    </mat-form-field>

    <mat-form-field appearance="standard">
        <mat-label>Telefone</mat-label>
        <input [(ngModel)]="estabelecimento.telefone" matInput placeholder="Telefone do Estabelecimento">
    </mat-form-field>
     <mat-divider></mat-divider>
    <button (click)="saveEstabelecimento()" mat-raised-button color="primary">Salvar</button>
    
</div>
